main {
  padding-top: 3px;
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
}

.rating span {
  margin: 0.1rem;
}

/* .products {
//padding: 0.5rem; from h2
  //min-height: 400px;
} */